
*{
    padding: 0;
    margin: 0;
    font-family: Sans-serif	;
}
html, body ,#container{
    width: 100%;
    height: 100%;
}#plan{
    background-color: rgb(228, 228, 228);
    background-image: url('/imges/background.png');
    height: 90%;
    width: 100%;
    position: relative;
    padding-top: 50px;
   box-sizing: border-box;
    
   
}

#content{
    height: 100%;
  
    
}


#title{
    text-align: center;
    font-size: 200%;
    color: rgb(75, 75, 75);
 

}
#cards{
    color: rgb(75, 75, 75);
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
 
}
.card-content-line{
    
display: flex;
justify-content: center;
align-items: center;
border-bottom: 0.5px rgba(211, 211, 211, 0.336) solid;
margin: 10px;
font-size: 80%;
padding: 10px;


}

.right-sign{
    height: 20px;
    margin-right: 3px;
}
.x-sign{
    height: 20px;
}
.true{
    color: rgb(54, 54, 54)
}
.false{
    color: rgb(139, 139, 139)
}
.card{
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 300px;
    margin: 0 20px;
    

}
.card-body{
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.popular-card{
    margin-top: -20px ;
}
.card-head{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 80px;
   padding-top: 30px;
    color: #32795f;
    font-size: 60%;
    background-color: #c4e7d9;
    position: relative;
    
}
.popular-head{
    height: 100px ;  
}
.popular-card-title{
    margin-top: 20px;
}
.card-circle{
    background-color: #56bc94;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: -50px;
    color: white;
    border: 4px #9fd9c2 solid ;
    position: relative;
    z-index: 1;
}
.card-duration{
    margin-top: 12px;
    font-size: 80%;
    color: rgba(255, 255, 255, 0.932);
}
.dolar{
    font-size: 80%;
}
.card-price-number{
    font-size: 150%;
}
.card-price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    
}
.card-content{
    margin-top: 30px;
}
.signup-btn{
background-color: #56bc94;
border: none;
padding: 10px;
width: 80%;
margin: 10px;
margin-bottom: 20px;
border-radius: 4px;
color: white;
cursor: pointer;
}

.ribbon {
    width: 48%;
    height: 180px;
    position: absolute;
    font-size: 160%;
    color: white;
  }
  
  .wrap {
    width: 100%;
    height: 180px;
    position: absolute;
    top: -35PX;
    right: -161px;
    overflow: hidden;
  }
  .wrap:before, .wrap:after {
    content: ""; 
    position: absolute;
  }
  .wrap:before {
    width: 8px;
    height: 5px;
    right: 100px;
    background: #225742;
    
  }
  .wrap:after {
    width: 5px;
    height: 8px;
    right: 0px;
    top: 100px;
    background: #225742;
    
  }
  .ribbon6 {
    width: 166px;
    height: 40px;
    line-height: 45px;
    position: absolute;
    top: 20px;
    right: -48px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
 
    box-shadow:0 0 0 3px #3fa07a,  0px 21px 5px -18px rgba(0,0,0,0.6);
    background: #3fa07a;
    text-align: center;
  }